.element__like-heart {
  width: 22px;
  height: 19px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  padding: 0;
  background-image: url(../../../images/like-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  transition: opacity 0.3s ease;
}

.element__like-heart:hover {
  opacity: 0.6;
}
